body, h1, h2, p, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #FCE8EA;
    --text-color: #666;
    --gallery-background: #FCE8EA;
    --gallery-text: #666; 
    --background-figcaption: #FFFFFF;
    --text-color-figcaption:#000000;
    --nav-ul-li-a-color: #666;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #FFFFFF;
    --gallery-background: #222;
    --gallery-text: #FFFFFF;
    --background-figcaption:#000000;
    --text-color-figcaption:#FFFFFF;
    --nav-ul-li-a-color: #FFFFFF;
}

.dark-mode-toggle {
    background-color:#ffffff;
    border: none;
    color: #000;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

header, main, h2, h3, #about{
    background-color: var(--background-color);
    color: var(--text-color);
}

.gallery {
    background-color: var(--gallery-background);
    color: var(--gallery-text);
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1{
    color: #666;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 20px 0;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

header h1 {
    font-size: 1.75em;
    text-align: left;
    font-family: 'Climate Crisis', sans-serif;
    letter-spacing: 2px;
    color: #5c82cd;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    text-align: left;
}

nav ul li {
    display: inline-flex;
    align-items: center;
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    color: var(--nav-ul-li-a-color);
}


nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}

nav ul li img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-decoration: underline;
}

main {
    padding-left: 20px;
    padding-right: 100px;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery figure {
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-figcaption);
    color: var(--text-color-figcaption);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}
#day-life-poster {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}
#milk-poster {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.skip-to-main {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #292c2e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.skip-to-main:focus {
    top: 20px;
}

#contact {
    background-image: url('images/4x/Asset 1@4x.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    color: #371616;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f99f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ba7575;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #d52d3e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #c74469;
}

#main-content {
    padding-bottom: 100px;
}

#moving-image {
    position: absolute;
    right: 40px;
    top: 200px;
    width: 500px;
    height: auto;
    animation: rotateImage 10s linear infinite;
}

@keyframes rotateImage {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

section#home {
    padding-left: 20px;
    padding-bottom: 200px;
    max-width: calc(100% - 340px);
    float: left;
    margin-right: 500px;
    z-index: 0;
}

#bovine {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about img:first-of-type {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
#about h3 {
    font-size: 1.5em;
    margin-top: 0;
}
#about p {
    max-width: 800px;
    font-size: 1.5em;
}
#about img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
        background: transparent;
        border: none;
        font-size: 1.5em;
        color: #666;
    }

    .nav-links li {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-links.active {
        display: block;
    }
    
    #moving-image {
        display: none;
    }
    .gallery {
        display: block;
        text-align: center;
    }

    .gallery figure {
        display: inline-block;
        margin-bottom: 20px;
        width: 80%;
    }
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 480px) {
    .nav-links {
        display: none;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
        background: transparent;
        border: none;
        font-size: 1.5em;
        color: #666;
    }

    .nav-links li {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-links.active {
        display: block;
    }
    #moving-image {
        display: none;
    }
    .gallery {
        display: block;
        text-align: center;
    }

    .gallery figure {
        display: inline-block;
        margin-bottom: 20px;
        width: 80%;
    }
}
@media only screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}